html,body,h1,h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.w3-main {
  min-height: 100%;
  position: relative;
  padding-bottom: 154px;
}

footer {
  width: 100%;
  max-width: 1300px;
  height: 154px;
	position: absolute;
	bottom: 0;
}

footer .licence {
  border-width: 0;
  float: right;
}

footer .about {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 640px) {
    .page img {width:100%;}
}
@media (min-width: 640px) and (max-width: 800px) {
    .page img {width:70%;}
}
@media (min-width: 800px) and (max-width: 1024px) {
    .page img {width:50%;}
}
@media (min-width: 1024px) {
    .page img {width:30%;}
}

/* Main Primary color */
.color-primary-0 { color: #2C8437 !important }
.color-primary-1 { color: #D4FAD9 !important }
.color-primary-2 { color: #73C37D !important }
.color-primary-3 { color: #05450D !important }
.color-primary-4 { color: #000501 !important }

.color-background-primary-0 {
    background-color: #2C8437 !important;
    color: white;
}
.color-background-primary-1 { background-color: #D4FAD9 !important }
.color-background-primary-2 { background-color: #73C37D !important }
.color-background-primary-3 { background-color: #05450D !important }
.color-background-primary-4 { background-color: #000501 !important }

.color-background-primary:hover {
    background-color: #73C37D !important;
}

.color-border-primary {
    border: 1px solid #73C37D;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.margin-small-right {
  margin-right: 8px;
}

.w3-sidenav {
  z-index:3;
  width:300px;
}

.w3-sidenav a,.w3-sidenav h4 {
  font-weight:bold;
}

.w3-sidenav img {
  width:45%;
}

#nav-container-mobile img {
  width:65px;
}

.w3-overlay {
  cursor:pointer;
}

.article-small {
  cursor: pointer;
}

.article h2, .article h3, .article h4, .article h5 {
  margin: 50px 0px 0px 0px
}

.article-small-image {
    max-height: 200px;
}
