html,body,h1,h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.w3-main {
  min-height: 100%;
  position: relative;
  padding-bottom: 154px;
}

footer {
  width: 100%;
  max-width: 1300px;
  height: 154px;
	position: absolute;
	bottom: 0;
}

footer .licence {
  border-width: 0;
  float: right;
}

footer .about {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.margin-small-right {
  margin-right: 8px;
}

.w3-sidenav {
  z-index:3;
  width:300px;
}

.w3-sidenav a,.w3-sidenav h4 {
  font-weight:bold;
}

.w3-sidenav img {
  width:45%;
}

#nav-container-mobile img {
  width:65px;
}

.w3-overlay {
  cursor:pointer;
}

.article-small {
  cursor: pointer;
}

.article h2, .article h3, .article h4, .article h5 {
  margin: 50px 0px 0px 0px
}
